<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webpack
        <%= htmlWebpackPlugins.options.title %>
    </title>
</head>

<body>

    <h4>
        <%= htmlWebpackPlugins.options.heading %>
    </h4>
    <p>
        <%= htmlWebpackPlugins.options.message %>
    </p>

    <div id='app'>

    </div>

    <script src="./build/bundle.js"></script>
</body>

</html>